body {
  background-color: #e0f7ea;
  color: rgb(69, 56, 56);
  font-family: "Montserrat", sans-serif;
}

section {
  margin: 20px 100px;
  padding: 20px 40px;
  border: 2px solid rgb(110, 182, 16);
  border-radius: 25px;
  text-align: center;
}

h2 {
  font-size: 28px;
  background-color: rgb(76, 161, 110);
  color: white;
  padding: 10px 10px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 5px;
}

.name-and-pic {
  display: flex;
  align-items: center; /* vertically center the image with the text */
  justify-content: space-between;
}

.mypic {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

h1 {
  color: rgb(246, 248, 163);
  font-size: 70px;
  font-weight: 200;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  border: 2px solid #817e7e;
  margin: 20px 100px;
  padding: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; 
    /* letter outline */
}

a {
  color: rgb(69, 56, 56);
}

#about p{
    text-align: left;
}

/* experience and skill section */
.two-columns {
  display: flex;
  justify-content: space-between;
}

#skill li,
#experience li {
  padding: 12px 16px;
  list-style: square;
  width: fit-content;
}

/* connect section */
#connect ul {
  list-style: none; /* Remove default list bullets */
  padding: 0; 
  display: flex; /* Make the list items flexible */
  justify-content: center; /* Center the items horizontally */
  gap: 20px; /* Add space between list items */
  align-items: center; 
}
.icon-pic {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.icon-li {
  display: flex;
  align-items: center;
  text-align: center;
}
